<div class="row">

    <div class="col-md-12 main">
    
        <h4 class="page-header">History</h4>

        <div class="table-responsive" id="history">

        </div>

    </div>

</div>

<script>

queryHistory = [];

if (localStorage.history) {
	queryHistory = JSON.parse(localStorage.history).reverse();
}

$('#history').html(nunjucks.render('partials/history-table.html', {history: queryHistory }));

$(".query").click(function(event) {
	event.preventDefault();
	localStorage.lastQuery = $(this).data("query");
	window.location.hash = '#editor';
	});

</script>