            <table class="table table-striped table-sm" id="history">
                <thead>
                    <tr>
                        <th>Query</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for query in history %}
                    <tr>
                        <td><a href="#history" class="query" data-query="{{ query.body | urlencode }}">{{ query.body }}</a></td>
                        <td>{{ query.status }}</td>
                    </tr>
                    {% endfor %}
            </table>
                </tbody>